@import url("base.css");
.breadcrumbs__linkPage-container span:nth-child(2) {
  font-weight: 500;
}
.container {
}
.google-map {
  margin: 40px 0;
}
.shop-address {
  margin-top: 40px;
  margin-bottom: 12px;
}
h1.shop-address {
  font-size: 24px;
  font-weight: 500;
}
ul.shop-address__list {
}
ul.shop-address__list li {
  line-height: 1.8;
  font-size: 15px;
  font-weight: 500;
}
@media (max-width: 991px) {
  .container .row {
    flex-direction: column-reverse;
  }
}
