
extends layout/layout1
include blocks/mixins
block vars
	-title = 'VLUXURY - Thời trang nam'
	-bodyClass = 'home-page'
	-linkCss='assets/css/main.css'
	-linkScripts='assets/javascript/main.js'
block content
	include blocks/home_content
	
