
extends layout/layout2
include blocks/mixins
block vars
    -title = 'Áo Vest nam - VLUXURY '
    -bodyClass = 'home-page'
    -linkCss='assets/css/categoryProduct.css'
    -linkScripts='assets/javascript/search.js'
block breadcrumbs
    +breadcrumbs('KẾT QUẢ TÌM KIẾM',' Kết quả tìm kiếm')
block content
    .container 
        .collections__header(style="justify-content:center")
            h2(style="font-size:26px")
                span#empty.margin-left-right-5.d-none KHÔNG CÓ KẾT QUẢ TÌM KIẾM CHO TỪ KHÓA :
                span#noEmpty.margin-left-right-5 KẾT QUẢ TÌM KIẾM CHO TỪ KHÓA :
                span.margin-left-right-5#search-text
        .collection__content 
            ul.row#category-products-list
        template#category_product-item
            +category-products__item('assets/image/image_home/bst_moi1.png','ÁO VEST GHI KẺ LH69','2,950,000₫')
        